@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {

    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    &:focus{
        outline: none;
    }
}

body{
    background-color: #202035;
    padding: 50px;
}

.component{
    background-color: #1B1B30;
    border-radius: 10px;
    margin-bottom: 20px;
    &--help{
        padding: 40px 50px;
        h5{
            font-size:36px;
            color:#BBBBD7;
            margin-bottom: 22px;
            font-weight: normal;
        }
        form{
            width: 100%;
            input{
                height: 72px;
                width: 100%;
                padding: 0px 40px 0px 72px;
                border-radius: 5px;
                background: #2A2A42 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg id='Group' opacity='0.5'%3E%3Cpath id='Path' d='M0,0H34V34H0Z' fill='none'/%3E%3Ccircle id='Oval' cx='9.917' cy='9.917' r='9.917' transform='translate(4.25 4.25)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2.125'/%3E%3Cpath id='Path-2' data-name='Path' d='M8.5,8.5,0,0' transform='translate(21.25 21.25)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2.125'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 25px;
                color:#fff;
                font-size: 18px;
                border: 1px solid #454564;
                &:focus{
                    border-color:lighten(#454564, 10%)
                }
            }
        }
    }

    &--sidebar{
        width: 307px;
        padding: 30px;
        h6{
            font-size: 18px;
            color:#BBBBD7;
            font-weight: bold;
            margin-bottom: 15px;
        }
        hr{
            height: 2px;
            margin: 25px 0;
            background-color:#141428;
        }
        nav{
            ul{
                li{
                    a{
                        display: inline-block;
                        font-size: 16px;
                        color:#786CD5;
                        padding: 5px 0;
                        transition: 300ms color ease-in-out;
                        &:hover{
                            color:#fff;
                        }
                    }
                }
            }
        }
        p{
            font-size:16px;
            color:#BBBBD7;
            line-height: 24px;
            padding-right: 40px;
        }
        .button{
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 23px;
            background-color: #786CD5;
            color:#fff;
            border-radius: 5px;
            border: 1px solid #979797;
            transition: 300ms background-color ease-in-out;
            &:hover{
                background-color: #2A2A41; 
            }
        }
    }

    &--list{
        width: 735px;
        ul{
            li{
                background-color: #1B1B30;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    display: flex;
                    justify-content: space-between;
                    padding: 30px;

                    .inner{
                        .title{
                            display: block;
                            color: #BBBBD7;
                            font-size:18px;
                            font-weight: bold;
                            line-height: 23px;
                            margin-bottom: 19px;
                        }
                        .description{
                            color:#BBBBD7;
                            font-size:16px;
                            font-weight: normal;
                            line-height: 20px;
                        }
                    }
                    .category{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 18px;
                        margin-left: 10px;
                        height: 36px;
                        color: var(--color);
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: var(--color);
                            opacity: .05;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}